<app-header></app-header>
<section class="hero-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="text-center">
                    <h3 class="mb-2">Hello, It's Me</h3>
                    <h1 class="mb-2">Sabari</h1>
                    <h3 class="mb-2">And I'm MEAN Stack Developer</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="social-media text-center">
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-discord"></i>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="align-img">
                    <img src="../../../assets/images/profile-img.jpg" alt="profile-img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section py-5">
    <div class="container">
        <div class="title-container mb-5">
            <h2 class="mb-3 text-center">About Me</h2>
            <p class="mb-3 text-center">But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="description">
            <ul>
                <li class="mb-5">

                    <h3 class="mb-2"><i class="fa-solid fa-graduation-cap "></i>Degree</h3>
                    <p class="mb-2"><i class="fa-solid fa-building-user "></i>Bachelor Of Science In Computer Science - 2016-2019</p>
                    <a href="https://www.google.com/maps/place/GTN+Arts+College/@10.3944238,77.9966915,15z/data=!4m14!1m7!3m6!1s0x3baa009f80da5adb:0xa1f8b499431c42e3!2sGTN+Arts+College!8m2!3d10.3944238!4d77.9966915!16s%2Fm%2F027g42q!3m5!1s0x3baa009f80da5adb:0xa1f8b499431c42e3!8m2!3d10.3944238!4d77.9966915!16s%2Fm%2F027g42q" target="_blank"><i class="fa-solid fa-location-dot "></i>GTN Arts College,Karur Rd, N.S.Nagar, Dindigul, Tamil Nadu 624005</a>
                </li>

                <li class="mb-5">
                    <h3 class="mb-2"><i class="fa-brands fa-angular "></i>MEAN STACK DEVELOPER</h3>
                    <p class="mb-2"><i class="fa-regular fa-building "></i>Amigoways Technologies Pvt Ltd - 2022-2023</p>
                    <a href="https://www.google.com/maps/place/Amigoways+Technologies+Pvt+Ltd/@9.8881574,78.0922281,17z/data=!4m14!1m7!3m6!1s0x3b00cffe98e0c67f:0xda2d4ae867456c09!2sAmigoways+Technologies+Pvt+Ltd!8m2!3d9.8881574!4d78.0944168!16s%2Fg%2F11m9_gvpyy!3m5!1s0x3b00cffe98e0c67f:0xda2d4ae867456c09!8m2!3d9.8881574!4d78.0944168!16s%2Fg%2F11m9_gvpyy" target="_blank"><i class="fa-solid fa-location-dot "></i>Plot No.54, T-Muniyasamy Salai, Muthu Patti, Madurai, Tamil Nadu 625003</a>
                </li>

                <li class="mb-5">
                    <h3 class="mb-2"><i class="fa-brands fa-angular "></i>MEAN STACK DEVELOPER</h3>
                    <p class="mb-2"><i class="fa-regular fa-building "></i>CLARISCO - Blockchain, AI & IoT Software Development Company - 2023 - Now</p>
                    <a href="https://www.google.com/maps/place/CLARISCO+-+Blockchain,+AI+%26+IoT+Software+Development+Company/@9.9157831,78.0949814,17z/data=!4m14!1m7!3m6!1s0x3b00c501ada92729:0x56f74b6a5024d9a5!2sCLARISCO+-+Blockchain,+AI+%26+IoT+Software+Development+Company!8m2!3d9.9157831!4d78.0971701!16s%2Fg%2F11hz75z7hz!3m5!1s0x3b00c501ada92729:0x56f74b6a5024d9a5!8m2!3d9.9157831!4d78.0971701!16s%2Fg%2F11hz75z7hz" target="_blank"><i class="fa-solid fa-location-dot "></i>13,B, 70 Feet Road, Main, Ellis Nagar, Madurai, Tamil Nadu 625001</a>
                </li>
            </ul>
            
        </div>     
       
    </div>
</section>